.project-home-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #2e2e30;
  color: white;
  grid-column: auto;
  text-align: center;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.centered-container button {
  margin: 10px;
  background-color: #1e90ec;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.project-home-wrapper button:hover {
  background-color: #6c9da9;
}

.project-home-wrapper button:active {
  background-color: #6c9da9;
}

.project-home-wrapper form {
  display: flex;
  color: black;
  width: 75%;
  margin: 10px;
}

.project-home-wrapper .recommended-tasks {
  background-color: #2e2e30;
  color: white;
}

h1.project-home-table-title {
  margin: 10px;
  font-size: 30px;
  text-decoration: underline;
}

h2.project-home-table-title {
  margin: 10px;
  font-size: 24px;
}

.centered-container {
  width: 80vw;
}
