.task-table {
    border-collapse: collapse;
    margin-bottom: 10px;
    table-layout: fixed;
}

.task-table thead {
    display: flex;
    justify-content: space-between;
    width: 87%;
}

.task-table th {
    font-weight: bold;
    text-align: left;
    padding: 8px;
    width: 24vw;
    text-decoration: underline;
}

.task-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    width: 24vw;
    text-align: left;
}

.task-table tbody tr {
    display: flex;
    justify-content: space-between;
}

.task-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
