.project-create-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #2a2b2d;
  width: 500px;
}

.project-create-form label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #eee;
}

.project-create-form input,
.project-create-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #eee;
  margin-bottom: 20px;
  background-color: #ffffff;
  color: black;
}

.project-create-form textarea {
  resize: vertical;
}

.project-create-form button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #4c4c52;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 250ms ease;
  margin-top: 20px;
  width: fit-content;
  border: 1px solid #69696b;
}

.project-create-form button:hover {
  background-color: #47664a;
}

.project-create-form select {
  width: 100%;
}

.project-create-form #startDate {
  width: 100px;
}

.project-create-form #endDate {
  width: 100px;
}

.project-create-form #collaborators {
  width: fit-content;
  max-width: 100%;
}

.project-create-form #projectName {
  width: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.project-create-form #description {
  width: auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.project-create-form-submit-button {
  margin-left: auto;
}

.project-create-form-start-date-label {
  margin-right: 5px;
}

.project-create-form-end-date-label {
  margin-right: 5px;
}

.project-create-form-start-date-input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.project-create-form-end-date-input {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.project-create-form-date-wrapper {
  display: flex;
  justify-content: space-between;
}

.project-create-form-add-collaborators-wrapper {
  display: flex;
}

.project-create-form-collaborators-label {
  margin-right: 5px;
}

.project-create-form-title {
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.project-create-checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.project-create-checkbox-item {
  display: flex;
  align-items: center;
}

.project-create-checkbox-title {
  margin-left: 10px;
  font-size: 16px !important;
  font-weight: lighter !important;
  padding-bottom: 7px;
}

/* this is the button on the user home page */

.create-project-button {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #4c4c52;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.create-project-button:hover {
  background-color: #47664a;
}

.create-project-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #2E2E30;
}

.create-project-button:active {
  background-color: #222224;
}
