.task-create-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-right: 30px;
    background-color: #2a2b2d;
}

.task-create-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #eee;
}

.task-create-form input,
.task-create-form textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #eee;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: black;
}

.task-create-form button {
    margin: 10px;
    background-color: #1e90ec;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.task-create-form select {
    width: 100%;
}

.task-create-form button:hover {
    background-color: #0069d9;
}

.task-create-form textarea {
    resize: vertical;
}

.create-task-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: #2E2E30;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 250ms ease;
    margin-left: 10px;
    margin-right: 10px;
}

.create-task-button:hover {
    background-color: #4C4C4E;
}

.create-task-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #2E2E30;
}

.create-task-button:active {
    background-color: #222224;
}
